$navy: #001F3F;
$blue: #0074D9;
$blue-grey: #6699CC;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$brown: #964B00;
$red: #FF4136;
$maroon: #85144B;
$fuchsia: #F012BE;
$purple: #B10DC9;
$almond: #EFDECD;
$gray: #AAAAAA;
$silver: #DDDDDD;
$black: #111111;
$midnight: #000000;
