html {
  height: 100%;
}

#app > [data-reactroot] { height: 100% }

#app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#textBox {
  height:40px;
  width:300px;
  display:inline-block;
  margin-bottom:20px;
  margin-left:30px;
}

#textBoxLocation {
  height:40px;
  width:250px;
  display:inline-block;
  margin-bottom:20px;
  margin-left:30px;
}

.backgroundImage {
  background-image: url("./images/flip.jpg");
  background-size: cover;
  height:100%;
}

.container {
  height:100%;
}

.headerStyle {
  color: #FFFFFF;
}

.dropDown {
  background-color:#FFFFFF;
  margin-left:20px;
  height:40px !important;
  border-radius: 5px !important;

  /* max-height:200px */
}

 .dropDown > div > div:nth-child(2) {
  overflow:visible !important;
  line-height:42px !important;
} 

 .dropDown > div > button {
  top:-3px !important;
 }

 .search-bar > button {
   border-radius:5px !important;
 }

.text-center {
  text-align:left;
  overflow:visible !important
} 
#map-canvas {
  height: 80%
}

.landingPage {
  background-image: url("./images/landing.jpg");
  background-size: cover;
  height:100%;
  font-family: 'Fjalla One', sans-serif;
}

.navbar {
  margin-bottom: 0px;
}
.whiteFont {
  color:white;
}

.headerLeft {
  box-shadow:9px 5px 30px black;
  margin-left:50%;
  margin-top:20%;
  z-index: 2;
  text-align: center;
  height:520px;
}

.headerLeftInfo {
  display: none;
}

.header {
  margin-left:auto;
  margin-right:auto;
  max-width:1000px;
  font-size: 100px;
  margin-top:70px;

}

.subHeader {
  margin-left:auto;
  margin-right:auto;
  max-width:1000px;
}

.grid {
  display: grid;
}

.images-container {
  background-image: url("./images/bg_cont.png");
  height: inherit;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  width: 100%;
  display: block;
}

#layer-1 {
  top: 29.68%;
  left: -11.68%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#layer-2 {
  top: 65%;
  left: 7%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#layer-3 {
  top: 62%;
  left: 44%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#layer-4 {
  top: 36%;
  left: 32%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#layer-5 {
  top: 11.51%;
  right: 7.59%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  z-index: -1;
}

#layer-6 {
  top: 75%;
  right: 6%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  transition: all 0.4s linear;
}

.btnCustom {
  outline:none;
  font-size:35px;
  margin-left:247px;
  margin-top:20px;
  border-radius:8px;
  display:block;
  background-color: transparent;
}

.glyphicon-chevron-down {
  top:5px;
  left:2px;
}

#sortsNum, #typesNum, #countriesNum, #stylesNum {
  display: inline;
  font-size:35px;
}

.blackColor {
  color:black;
}

.addBeerImage {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/bg_img1.jpg');
  height:100%;
  background-size: cover;
}

.whiteColor {
  color:white;
  font-size:60px;
}

.addBreweryImage {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/bg_img2.jpg');
  height:100%;
  background-size: cover;
}

.floatRight {
  margin-left: 60%;
  padding-top:10%;
}

.floatLeft {
  margin-left: 20%;
  padding-top:10%;
}