html {
  height: 100%;
}

#app > [data-reactroot] { height: 100% }

#app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#textBox {
  height:40px;
  width:300px;
  display:inline-block;
  margin-bottom:20px;
  margin-left:30px;
}

#textBoxLocation {
  height:40px;
  width:250px;
  display:inline-block;
  margin-bottom:20px;
  margin-left:30px;
}

.backgroundImage {
  background-image: url("./images/pouring-beer.jpg");
  background-size: cover;
  height:100%;
}

.container {
  height:100%;
}

.headerStyle {
  color: #FFFFFF;
}

.dropDown {
  background-color:#FFFFFF;
  margin-left:20px;
  height:40px !important;
  border-radius: 5px !important;

  /* max-height:200px */
}

 .dropDown > div > div:nth-child(2) {
  overflow:visible !important;
  line-height:42px !important;
} 

 .dropDown > div > button {
  top:-3px !important;
 }

 .search-bar > button {
   border-radius:5px !important;
 }

.text-center {
  text-align:left;
  overflow:visible !important
} 
#map-canvas {
  height: 80%
}